.millionTable{
  width: 1000px;
  background: #4B5F5F;
  position: relative;
  margin: 50px auto;
  overflow: auto;
  box-shadow: 0px 0px 46px -1px rgba(0,0,0,0.4);
  border-radius: 3px;
  font-variant: small-caps;
}
.millionTable .millionTable-header{
  background: #212121;
  color: white;
  padding-right: 18px;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.millionTable .millionTable-header .sortable{
  cursor: pointer;
}
.millionTable .millionTable-header .sortable:after{
  content:'\021AD';
  display: block;
  position: absolute;
  top: 0px;
  right: 50px;
}
.millionTable .millionTable-header .sortable[data-sort=false]:after{
  content: '\02191';
}
.millionTable .millionTable-header .sortable[data-sort=true]:after{
  content: '\02193';
}
.millionTable .wrapper{
  width: 100%;
  color:white;
  position: relative;
  margin: 0;
  height: 400px;
  overflow: auto;
  outline: 1px solid black;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.millionTable .head{
	position: relative;
}
.millionTable .head .rest{
	position: absolute;
  width: 100%;
  bottom: 0px;
}

.millionTable .item{
	width: 100%;
  position: relative;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  box-sizing: border-box;
}
.millionTable .item.item-centered{
  text-align: center;
  height: 400px;
  line-height: 400px;
}
.millionTable .item span{
	position: relative;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;  
}
.millionTable .item span:nth-child(1){
	width: 7%;
}
.millionTable .item span:nth-child(2){
	width: 18%;
}
.millionTable .item span:nth-child(3){
	width: 3%;
}
.millionTable .item span:nth-child(4){
	width: 33%;
}
.millionTable .item span:nth-child(5){
	width: 27%;
}
.millionTable .item span:nth-child(6){
	width: 10%;
}
.millionTable .filters{
  padding: 10px;
  color: white;
  background-color: #617B7B;
}
.millionTable .filters > *{
  margin: 10px 20px;
}